@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Changa+One:ital@0;1&display=swap");
body {
  background: #edeaff;
  font-family: "Poppins", "sans-serif";
  width: 100vw;
  height: 76vh;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/wallpapers/0.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.black-screen {
  background: black !important;
  background-image: none !important;
}

.stopwatch {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.stopwatch h1 {
  margin-top: 0px;
  font-family: "Anton", sans-serif;
  font-size: 194px;
  font-weight: 300;
  text-shadow: 0 0 10px black;
}

@media only screen and (max-width: 800px) {
  .stopwatch h1 {
    font-size: 100px;
  }
}


.buttons {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.reset {
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  font-weight: 800;
  font-size: 30px;
  border: 5px solid white;
  box-shadow: 0 0 10px black;
}

@media (max-width: 800px) {
  .reset {
    font-size: 15px;
    gap: 0px;
  }
}

.black {
  cursor: pointer;
  font-weight: 700;
  text-shadow: 0 0 10px black;
}

.play {
  color: white;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  background-color: #d25353;
  font-weight: 800;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 5px solid #d25353;
}

@media (max-width: 800px) {
  .play {
    font-size: 15px;
    gap: 0px;
  }
}

.buttons p:hover {
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 5px solid white;
  font-weight: 800;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 0 100px;
}

@media (max-width: 800px) {
  .navbar {
    justify-content: center;
  }
}

.heading {
  color: #f4f9ce;
  font-size: 44px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .heading {
    font-size: 30px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
margin: -25px 0px;}



.button {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: visible;
}

@media (max-width: 800px) {
  .button {
    font-size: 10px;
    gap: 0px;
  }
}


.wallpaperBtn {
  color: white;
  cursor: pointer;
  background-color: #d25353;
  padding: 10px 15px;
  border-radius: 15px;
  border: solid #d25353;
}
.add-wallpaper {
  color: black;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  border: solid white;
  border-radius: 15px;
  padding: 10px 15px;
}
.add-wallpaper:hover {
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: solid white;
  border-radius: 15px;
  padding: 10px 15px;
}

.wallpaperBtn:hover {
  padding: 10px 15px;
  background-color: transparent;
  border: solid #d25353;
}

.footer img {
  filter: invert(0.5);
  width: 50px;
  margin: 0 0px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer img {
    width: 30px;
    gap: 20px;
}
}
.footer img:hover {
  filter: invert(1);
  color: white;
}