.dialog {
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.container {
  width: 1000px;
  height: 700px;
  overflow-y: hidden;
  text-align: center;
  background-color: #ff006a51;
  margin: 90px;
  border-radius: 20px;
  z-index: 1;
  padding: 0 30px;
}

@media (max-width: 800px) {
  .container {
    width: 400px;
    height: 600px;
  }
}

.title {
  gap: 260px;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (max-width: 800px) {
  .title {
    gap: 55px;
  }
}


.title h1 {
  color: white;
  display: inline;
}

@media (max-width: 700px) {
  .title h1 {
    font-size: 20px;
  }
}

.title button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.title button img {
  width: 30px;
}

@media (max-width: 800px) {
  .title button img {
    width: 20px;
  }
}


.wallpapers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  overflow: scroll;
  overflow-x: hidden;
  height: 85%;
  width: 100%;
  border-radius: 25px;
}


.box img {
  /* margin-right: 50px ; */
  margin: 20px;
  width: 170px;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  background-size: contain;
}


@media (max-width: 800px) {
  .box img {
    margin-right: 60px ;
    width: 120px;
    height: 60px

  }
}


/* applied wallpaper */
.image.active {
  border: 2px solid rgba(255,255,255,0.6);
  backdrop-filter: blur(6px);          
  box-shadow: 0 0 20px rgba(255,255,255,0.6);
  transform: scale(1.05);
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  gap: 50px;
  -webkit-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
