.dialog{
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))
}

.container {
  width: 1000px;
  height: 700px;
  overflow-y: auto;
  text-align: center;
  background-color: #ff006a51;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  margin: 90px;
  border-radius: 20px;
  padding: 0 30px;
}

.title{
  gap: 260px;
  display: flex;
  justify-content: end;
  align-items: center;
  
}
.title h1{
  color: white;
  display: inline;
}

.title button{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.title button img{
  width: 30px;
  height: 30px;
}



.wallpapers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
  height: 85%;
  width: 90%;
  border-radius: 25px;
}

.box img {
  margin: 20px;
  border: 3px solid #afb977;
  width: 170px;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  background-size: cover;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
